<% if user_signed_in? %>
  <%= form_for([prompt, Comment.new]) do |f| %>
    <div class="form-group">
      <%= f.label :content, "Add a comment" %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
<% end %>