<div id="<%= dom_id prompt %>">
  <p>
    <strong>Title:</strong>
    <%= prompt.title %>
  </p>

  <p>
    <strong>Prompt text:</strong>
    <%= prompt.prompt_text %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

</div>
