<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>Editing Prompt</h1>

      <%= render 'form', prompt: @prompt %>

      <%= link_to 'Show', @prompt %> |
      <%= link_to 'Back', prompts_path %>
    </div>
  </div>
</div>

