<div class="container">
  <h1 class="my-4">New Resource Category</h1>

  <%= render 'form', resource_category: @resource_category %>

  <div class="mb-3">
    <%= link_to 'Back to Resource Categories', resource_categories_path, class: 'btn btn-secondary' %>
  </div>
</div>
