<div class="container mt-4 mb-4">
<h1>About Promptitude</h1>
    <p>Promptitude is a database of useful prompts for ChaptGPT created by Tom Leger, a seasoned software developer with a passion for building innovative solutions that make people's lives easier. </p>
    <p>If you're interested in learning more about Tom Leger and his work, you can visit his portfolio at <a href="https://tomleger.dev" target="_blank">tomleger.dev</a> or check out his Github account at <a href="https://github.com/legertom" target="_blank">github.com/legertom</a>.</p>
    <p>Promptitude is an open-source project hosted on <a href="https://github.com/legertom/prompter" target="_blank">Github</a>, and we welcome contributions from anyone who is interested in improving our database of prompts.</p>
    <p>We are proud to be running on Rails 7, powered by a PostgreSQL database, and hosted on <a href="https://render.com/" target="_blank">Render</a>, ensuring high performance and reliability for all users.</p>
    <p>At Promptitude, we are committed to providing a high-quality resource for ChaptGPT users, and we are constantly working to improve and expand our database of prompts. So come on in and explore, and feel free to contribute to the open-source project.</p>
</div>