<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">Edit Resource Link</h1>
      <%= render 'form', resource_link: @resource_link %>
      <%= link_to 'Cancel', resource_link_path(@resource_link), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
