<div class="container">
<h1 class="mb-4">New Resource Link</h1>

<%= render 'form', resource_link: @resource_link %>

<%= link_to 'Back to Resource Links', resource_links_path, class: 'btn btn-secondary' %>

</div>