/* Google Fonts */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  /* Colors */
  :root {
    --color1: #026670;
    --color2: #9fedd7;
    --color3: #fef9c7;
    --color4: #fce181;
    --color5: #edeAe5;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  
  form {
    width: 400px;
    margin: 2em auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .field label {
    margin-bottom: 0.5em;
  }
  
  .field input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .field input:focus {
    outline: none;
    border-color: #3b9dff;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .actions input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #3b9dff;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .actions input[type="submit"]:hover {
    background-color: #2185d5;
  }
  
  .actions input[type="submit"]:active {
    transform: translateY(1px);
  }
  

.signout-form {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  width: auto;
}
